In [2]:
# %load rapid_imports.py
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
tips = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/tips.csv')
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [4]:
tips['tip_pct'] = tips.tip/tips.total_bill

In [5]:
grouped = tips.groupby(['day', 'smoker'])

In [18]:
grouped['total_bill', 'tip_pct'].agg([('avg', 'mean'), ('std', np.std)])['tip_pct']

                  avg       std
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [15]:
tips.groupby(['day', 'smoker'])['size'].agg([('cnt', 'count'), ('mn', 'mean')])

             cnt        mn
day  smoker
Fri  No        4  2.250000
     Yes      15  2.066667
Sat  No       45  2.555556
     Yes      42  2.476190
Sun  No       57  2.929825
     Yes      19  2.578947
Thur No       45  2.488889
     Yes      17  2.352941